{% extends "base.html" %}{% block title %} Admin | Tambahkan Pesanan {%endblock
%}{% block content %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Tambahkan Data Pesanan</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <form method="post">
      <div class="row">
        <div class="col-sm-12">
          <!-- text input -->
          <div class="form-group">
            <label>Nama Pemesan</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Nama Pemesan"
              id="in_nama_pemesan"
              name="in_nama_pemesan"
            />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label>Tanggal Pemesanan</label>
            <input
              type="date"
              class="form-control date"
              placeholder=""
              id="in_tgl_pemesanan"
              name="in_tgl_pemesanan"
            />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label>No Kamar</label>
            <input
              type="number"
              min="1"
              max="60"
              class="form-control"
              placeholder="Enter No Kamar"
              id="in_no_kamar"
              name="in_no_kamar"
              onkeypress="limit(this)"
              onkeyup="update(this)"
            />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label>Jenis Kamar</label>
            <input
              type="text"
              class="form-control disabled"
              placeholder=""
              value=""
              id="in_jenis_kamar"
              name="in_jenis_kamar"
              disabled
            />
          </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
    </form>
  </div>
  <!-- /.card-body -->
</div>
<script>
  function update(id){
    var no_kamar = document.getElementById('in_no_kamar');
    if(no_kamar.value > 60){
      no_kamar.value = 60;
    }
    const request = new XMLHttpRequest();
      data = "";
      var no = id;
      request.open(
        "GET",
        "/api/jenis/"+no.value
      );
      request.onload = () => {
        const response = request.responseText;
        data = response;
        if(data == "This page was not found"){
          data = "NONE";
        }
        document.getElementById('in_jenis_kamar').value = data;
      }
      request.send();
  }
</script>
{% endblock %}
